footer
  .container.text-center
    p.pull-left © 2017 Kuriakin Zeng. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/kuriakinzeng/nightlife') GitHub Project
      li
        a(href='https://github.com/kuriakinzeng/nightlife/issues') Issues
