extends layout

block content
  h1 Nightlife Coordination App
  p.lead A Free Code Camp Basecamp Challenge
  hr
  .row
    .col-xs-12
      form#locationForm.form-inline(method='POST')
        .form-group
          .input-group
            input(type='hidden', name='_csrf', value=_csrf)
            input.form-control(type='text', name='location', id='location', autofocus=true, placeholder="Enter your city name", value=location)
            span.input-group-btn
              button.btn.btn-primary(type='submit',id='searchBtn')
                i.fa.fa-search
                | Search
      #status
  .row    
    #results